@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --clr-accent-aquamarine: #66E2DC;
    --clr-accent-red: #FA7453;
    --clr-accent-orange: #FFB964;
    --clr-neutral-900: #191826;
    --clr-neutral-400: #FCFAF9;
    --clr-bg: #FCFAF9;

 /* * -------------------------- MOBILE SIZES ------------------------ */
    
    --fs-700: 2.5rem;       /* 40px */
    --fs-600: 2rem;         /* 32px */
    --fs-500: 1.125rem;     /* 18px */
    --fs-400: 1rem;         /* 16px */ 
    --fs-650: 4.0625rem;    /* 65px */

    --lh-700: 3rem;         /* 48px */
    --lh-600: 2.5rem;       /* 40px */
    --lh-500: 1.75rem;      /* 28px */
    --lh-400: 1.625rem;     /* 26px */
}


/* * -------------------------- TABLET SIZES ------------------------ */

@media screen and (min-width: 37.5em) {
    :root {
        --fs-700: 4rem;     /* 64px */
        --fs-400: 1.125rem; /* 18px */

        --lh-700: 4rem;     /* 48px */
        --lh-400: 1.75rem;  /* 28px */
    }   
}

/* * -------------------------- LAPTOP SIZES ------------------------ */

@media screen and (min-width: 49em) {
    :root {
        --fs-700: 5.5rem;       /* 88px */
        --fs-650: 4.0625rem;    /* 65px */
        --fs-600: 2.5rem;       /* 40px */
        --fs-500: 1.125rem;     /* 18px */
        --fs-400: 1.25rem;      /* 20px */

        --lh-700: 5.5rem;       /* 88px */
        --lh-600: 3.25rem;      /* 52px */
        --lh-500: 1.625rem;     /* 26px */
        --lh-400: 2.125rem;     /* 34px */
    }
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-size: var(--fs-700);
    letter-spacing: -1px;
    font-weight: 700;
    line-height: var(--lh-700);
}

h2 {
    font-size: var(--fs-600);
    font-weight: 700;
    line-height: var(--lh-600);
}

p {
    font-size: var(--fs-400);
    font-weight: 400;
    line-height: var(--lh-400);
}

img {
    height:auto;
    width: 100%;
}

/* * ---------------------------------------  */

main {
    min-width: 320px;
    width: 100vw;
    background-image: url(../assets/bg-main-mobile.png);
    background-position: right -15rem top -17rem;
    background-repeat: no-repeat;
    background-color: var(--clr-bg);
}

@media screen and (min-width: 37.5em) {
    main {
        background-image: url(../assets/bg-pattern-1.svg), url(../assets/bg-main-tablet.png);
        background-position: right -2.5rem top -2rem, right -3rem top -12rem;
        background-size: 17rem, 140%;
    }
}

@media screen and (min-width: 49em) {
    main {
        background-image: url(../assets/bg-pattern-1.svg), url(../assets/bg-main-desktop.png);
        background-position: right 0rem top -2rem, right -9rem top -16rem;
        background-size: 17rem, 126%;
    }
}
/* * ---------------------------------------  */

.container-top {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 4.25rem;
}

.logo {
    width: 9.125rem;
}

.container-top > h1 {
    padding-top: 4rem;
}

.container-top > p {
    padding-top: 1.25rem;
}

@media screen and (min-width: 37.5em) {
    .container-top {
        padding-top: 3.875rem;
        padding-left: 2.5rem;
        padding-right: 13.5rem;
        padding-bottom: 6.9375rem;
    }

    .container-top > h1 {
        padding-top: 6rem;
    }
}

/* LAPTOP */
@media screen and (min-width: 49em) {
    .container-top {
        padding-top: 3.875rem;
        padding-left: 10.312rem;
        padding-right: 25.5rem;
        padding-bottom: 6.75rem;
    }
    .container-top > h1 {
        padding-top: 8rem;
    }

    .container-top > p {
        padding-top: 2.5rem;
    }
}

/* * ---------------------------------------  */
.container-col {
    display: flex;
    flex-direction: column;
}

.container-dark {
    background-color: var(--clr-neutral-900);
    background-image: url(../assets/bg-pattern-2.svg);
    background-size: min(400px, 80%);
    background-position: center top 0rem;
    background-repeat: no-repeat;
    border-radius: 12px;
    height: 38rem;
}

.container-phone {
    position: relative;
    height: 6.25rem;
}

.img-phone {
    position: absolute;
    width: min(245px, 60%);
    left: 20%;
}

.container-sub {
    position: relative;
    height: 20.5rem;
}
.subscribe-card {
    position: absolute;
    background-color: #FA7453;
    bottom: 0rem;
    border-radius: 12px;
    color: var(--clr-neutral-400);
    padding: 3rem 2.25rem;
}

.subscribe-card > p {
    font-size: var(--fs-500);
    line-height: var(--lh-500);
    padding-top: .75rem;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
}

.price {
    font-size: var(--fs-650);
    font-weight: 700;
}

/* ! TABLET */

@media screen and (min-width: 37.5em) {
    .container-col {
        margin: 0 2.0625rem;
    }
    .container-phone {
        height: 8.625rem;
    }

    .img-phone {
        width: min(270px, 60%);
        left: 10%;
    }

    .container-sub {
        height: 6rem;
    }

    .subscribe-card {
        right: 3.5rem;
        width: 19rem;
        padding: 3rem 3rem;
    }

    .container-dark {
        background-size: 17.5rem;
        background-position: left 15rem top -2rem;
        height: 37.5rem;
    }
}

/* ! LAPTOP */

@media screen and (min-width: 49em) {
    .container-col {
        margin: 0 min(10.31rem, 13vw);
    }

    .container-phone {
        height: 13rem;
    }

    .img-phone {
        width: min(312px, 60%);
        left: 9.4%;
    }

    .container-dark {
        background-size: 19.7rem;
        background-position: left 21rem top -2.5rem;
    }

    .container-sub {
        height: 7.58rem;
    }

    .subscribe-card {
        right: 5.8rem;
        width: 20.81rem;
        padding-top: 3.625rem;
        padding-left: 3.375rem;
        padding-right: 3.375rem;
        padding-bottom: 3rem;
    }

    .subscribe-card > p {
        font-size: var(--fs-400);
        line-height: var(--lh-400);
        padding-top: 1.37rem;
    }

    .container {
        margin-top: 2.44rem;
        margin-bottom: 2.875rem;
    }
}
/* * ------------------------- FOOTER ---------------------------------- */

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 3.3rem;
}

.container-foot > p {
    margin-top: 2rem;
    color: var(--clr-neutral-900);
}

.container-icon {
    display: flex;
    justify-content: flex-start;
    column-gap: 1.25rem;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.media-icon {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    transition: filter .3s ease-out;
}

.media-icon:hover {
    filter: invert(86%) sepia(51%) saturate(1937%) hue-rotate(313deg) brightness(104%) contrast(101%);
}

strong {
    font-weight: 700;
}

@media screen and (min-width: 37.5em) {

    footer {
        padding-top: 5.4rem;
        padding-bottom: 5.3rem;
    }

    .container-foot {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .container-foot > p {
        max-width: 26rem;
    }

}

@media screen and (min-width: 49em) {
    footer {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        padding-left: 10.312rem;
        padding-right: 10.312rem;
    }

    .logo.bottom {
        height: 2rem;
        padding-right: 8.625rem;
    }

    .container-foot {
        width: 100%;
    }

    .container-foot > p {
        margin-top: 0rem;
        max-width: 30rem;
    }
    .container-icon {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

/* * ---------------------------------------  */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 1rem;
    padding-top: .875rem;
    padding-bottom: .9375rem;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.button > p {
    font-weight: 700;
}

.ios {
    background-color: var(--clr-neutral-900);
}

.ios:hover {
    background-color: var(--clr-accent-aquamarine);
}

.android {
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-400);
}

.android:hover {
    background-color: var(--clr-accent-orange);
}
